<!-- footer -->
<footer>
    <div class = "row container">
        <div>
            <img src = "../images/logo1-modified.png" alt = "">
            <ul class = "footer-social-links">
                <li class = "flex">
                    <a href = "https://www.facebook.com/Learn-More-Academy-102439275049464/"><i class = "fab fa-facebook-f"></i></a>
                </li>
                <li class = "flex">
                    <a href = "#"><i class = "fab fa-twitter"></i></a>
                </li>
                <li class = "flex">
                    <a href = "https://instagram.com/learnmoreacademy?utm_medium=copy_link"><i class = "fab fa-instagram"></i></a>
                </li>
                <li class = "flex">
                    <a href = "mailto:nathdebotosh16@gmail.com"><i class = "fab fa-google"></i></a>
                </li>
            </ul>
        </div>

        <div>
            <h3 class = "lg-text">Information</h3>
            <div class = "footer-links">
                <a href ="/register">Registration</a>
                <a href ="/resources">Resources</a>
                <a href ="/login">Login</a>
                <a href ="/about">About Us</a>
            </div>
        </div>

        <div>
            <h3 class = "lg-text">Information</h3>
            <div class = "footer-links">
                <p >Class I to XII</p>
                <p >Science Stream</p>
                <p >Arts Stream</p>
                <a href ="/resources">Access Online Resources</a>
                <a href ="/contact">Contact Us</a>
            </div>
        </div>

        <div>
            <h3 class = "lg-text">Find Us</h3>
            <div class = "footer-contact-info">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3625.436144543233!2d92.84918421515044!3d24.677529584140462!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x374e4730b4de6e21%3A0xab4f3b26596347f1!2sLEARN%20MORE%20ACADEMY!5e0!3m2!1sen!2sin!4v1641146133499!5m2!1sen!2sin" width="250" height="150" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
        </div>
    </div>

    <p class = "footer-text">Copyright &copy; 2022. Designed by <span>Pranjal Dahal, NIT Silchar</span>(dahalpranjal18@gmail.com)</p>
</footer>
<!-- end of footer -->