<div class = "header-top-info">
            <div class = "row container">
                <div>
                    <p class = "text">Have any question?</p>
                    <span><i class = "fas fa-phone"></i>6000381697</span>
                    <span><i class = "fas fa-envelope"></i>nathdebotosh16@gmail.com</span>
                </div>
                <div>
                    <button type = "button" id="login" class = "btn login-btn" onclick="window.location.href = '/login'">Login</button>
                    <button type = "button" class = "btn register-btn" onclick="window.location.href = '/registration'">Register</button>

                </div>
            </div>
        </div>

        <nav class = "navbar">
            <div class = "row container">
                <a href = "/" class = "navbar-brand">
                    <img src = "./images/logo1-modified.png" alt = "site logo">
                    <span class="LMA">Learn More Academy</span>
                </a>
                <button type="button" class = "navbar-show-btn">
                    <i class = "fas fa-bars"></i>
                </button>
            </div>

            <div class = "navbar-collapse">
                <button type = "button" class = "navbar-hide-btn">
                    <i class = "fas fa-times"></i>
                </button>
                <ul class = "navbar-nav">
                    <li><a href = "/">Home</a></li>
                    <li><a href = "/about">About</a></li>
                    <li><a href = "/resources">Resources</a></li>
                    <li><a href = "/login">Sign In</a></li>
                </ul>
            </div>
        </nav>