<!DOCTYPE html>
<html>
<head>

    <%- include('./partials/head'); %>
</head>


<body>

    <header>
		<%- include('./partials/header'); %>

        <div>
            <form style="display: inline" action="/profile" method="get">
                <button type="submit" class="btn btn-success" style="background-color: green;">Admin Panel</button>
            </form>
        </div>
		<div class="col-md-4 col-md-offset-4 login-content">
            <h3>Upload Pdf</h1>
            <div class="form-group">
                <form action="/uploadPdf" enctype="multipart/form-data" method="POST">
                    <div>
                        <label for="name">Resource Title</label>
                        <input type="text" id="name" placeholder="Name" value="" name="name" required>
                    </div>
                    <div>
                        <label for="desc">Resource Description</label>
                        <textarea id="desc" name="desc" value="" rows="2" placeholder="Description" required></textarea>
                    </div>
                    <div>
                        <label for="desc">Class</label>
                        <select id="standard" name="standard" required>
                            <option style="color: black;" value="1">1</option>
                            <option style="color: black;"value="2">2</option>
                            <option style="color: black;"value="3">3</option>
                            <option style="color: black;"value="4">4</option>
                            <option style="color: black;"value="5">5</option>
                            <option style="color: black;"value="6">6</option>
                            <option style="color: black;" value="7">7</option>
                            <option style="color: black;"value="8">8</option>
                            <option style="color: black;"value="9">9</option>
                            <option style="color: black;"value="10">10</option>
                            <option style="color: black;"value="11-Science">11-Science</option>
                            <option style="color: black;"value="11-Arts">11-Arts</option>
                            <option style="color: black;"value="12-Science">12-Science</option>
                            <option style="color: black;"value="12-Arts">12-Arts</option>
                        </select>
                    </div>
                    <div>
                        <label for="pdf">Upload PDF</label>
                        <input type="file" id="pdf" name="Resource" value="" required accept="pdf">
                    </div>
                    <div>
                        <button type="submit">Submit</button>
                    </div>
                </form>
            </div>
        </div>
	</header>

    <footer>
		<%- include('./partials/footer'); %>
	</footer>

</body>
</html>
